#branch-data
  %input{:type => "hidden", :value => @current_branch}
#deploy
  %form{:action => "/maintain/deployment/deploy", :method => "POST"}  
    Branch: 
    %select{:name => "branch"}
      - @branches.each do |branch|
        - if branch == @current_branch
          %option{:value => branch, :selected => "selected"}= branch
        - else
          %option{:value => branch}= branch
    %br
    Upgrade Database?
    %input{:type => "checkbox", :name => "upgrade_db", :value => "yes"}
    %span NOTE: The site will be taken down for a few hours for the database upgrade.
    %br
    %input{:type => "submit", :value => "Deploy"}

- @deployments = DM_REPO.scope { Maintainer::DeploymentItem.all(:order => [:time.desc]) }
- if @deployments.length > 0
  %hr

  #deployment-log
    %table.spacious
      %thead
        %tr
          %th SHA
          %th Commit Message
          %th Deployed on
          %th
      %tbody
        - @deployments.each do |deployment|
          %tr
            %td
              %a{:href => "#", :title => deployment.sha}= deployment.sha.truncate(10)
            %td= deployment.message
            %td= deployment.time.strftime(DATE_FORMAT_READABLE)
            %td
              %a.confirm{:href => "#", :url => "/maintain/deployment/rollback?sha=#{deployment.sha}", :reload_url => "/maintain/deployment", :message => "Are you sure you want to rollback to commit #{deployment.sha.truncate(10)}? (You can undo this by deploying again later.)", :success => "Rollback successful.", :callback => "check_if_deployment_possible()"} Rollback

:javascript
  $(function() {
    $("input[name=upgrade_db]").next("span").hide().end().change(function() {
      if($(this).filter(":checked").length > 0)
        $(this).next("span").show();
      else
        $(this).next("span").hide();
    });
    setup_confirmation_handlers();  
  });