#take-snapshot
  %form
    %input{:type => "button", :value => "Take Snapshot"}
%hr    
#snapshots
  - @snapshots = get_snapshots()
  - if @snapshots.length > 0
    List of snapshots:
    %table.spacious
      %thead
        %tr
          %th Filename
          %th Created at
          %th Size (bzipped)
      %tbody
        - @snapshots.each do |snapshot|
          %tr
            %td
              %a{:name => snapshot[:name], :href => "/maintain/database/download_dump?file=#{snapshot[:name]}", :title => "Download"}= snapshot[:name]
              = #"<a name href='/maintain/database/download_dump?file=#{snapshot[:name]}' title='Download this database dump'>#{snapshot[:name]}</a>"
            %td= snapshot[:date].strftime(DATE_FORMAT_READABLE)
            %td= "%.2f MB" % (snapshot[:size]/1024.0/1024.0)
  - else
    You have not taken any database snapshots as yet.